<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/global-web-js.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kbnotificator.js') }}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-global.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}" />
    <script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/datetime-fr.js') }}"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>


    <!-- MONACO CSS -->
    <link rel="stylesheet" data-name="vs/editor/editor.main" href="{{ url_for('static', filename='js') }}/monaco-editor/min/vs/editor/editor.main.css">
    <script>var require = { paths: { 'vs': "{{ url_for('static', filename='js') }}/monaco-editor/min/vs" } };</script>
    <script src="{{ url_for('static', filename='js') }}/monaco-editor/min/vs/loader.js"></script>
    <script src="{{ url_for('static', filename='js') }}/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script src="{{ url_for('static', filename='js') }}/monaco-editor/min/vs/editor/editor.main.js"></script>


    <style>
        body, html{border: none; width: 100%; height: 100%; --sgci-blue: #020235;}
        .hidden{
            display: none!important;
        }
        #voile{
            display: none;
            background: #5559;
            width: 100%;
            height: 100%;
            position: fixed; z-index: 10000; top: 0; left: 0
        }
    </style>
</head>
<body>
    <div id="voile">{% block voile %}
        <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center">
            <img src="{{ url_for('static', filename='images/loaders/loader.gif') }}" width="100"/>
        </div>
        {% endblock %}</div>
    <script>
        var ctrlDown = false;
        var shiftDown = false;

        var LOADER = {
            show: (duration=500)=>$("#voile").fadeIn(duration),
            hide: (duration=500)=>$("#voile").fadeOut(duration)
        };

        function where_is_click_on(event, elm, retrieve=false){
            let target = event.target;
            if (!Array.isArray(elm)){
                elm = [elm];
            }
            got = elm.filter((e)=>$(target).is(e));
            while (got.length === 0 && target !== null && target.tagName !== "HTML"){
                target = target.parentNode;
                got = elm.filter((e)=>$(target).is(e));
            }
            if (got.length > 0) return (retrieve === true)? target: true;
            return (retrieve === true)? null: false;

        }

        $(document).ready(function() {
            var ctrlKey = 17,
                cmdKey = 91,
                vKey = 86,
                cKey = 67,
                delKey = 46,
                escapeKey = 27;
                shiftKey=16;
            var kb_suffix="kb-pushSMS::";

            $(document).keydown(function(e) {
                if (e.keyCode == ctrlKey || e.keyCode == cmdKey) ctrlDown = true;
                if (e.keyCode == shiftKey) shiftDown = true;
            }).keyup(function(e) {
                if (e.keyCode == ctrlKey || e.keyCode == cmdKey) ctrlDown = false;
                if (e.keyCode == shiftKey) shiftDown = false;
            });
        });
    </script>
    {% block content %}{% endblock %}
</body>
</html>